:root {
  --bg__main: #e2e1e6;
  --bg__secondary: linear-gradient(180deg, #e4e4eb 9.3%, #d1d1d9 90.31%);
  --bg__light: #42424b;
  --bg__light-second: #ebebef;
  --bg__light-third: #e5e5e9;
  --bg__light-fourth: #f0f0f3;
  --text: #6d6671;
  --border: var(--text);
  fill: var(--text);
  font-size: 24px;
}
.wrapper {
  box-shadow: 0px 0px 21.1px 0px rgba(28, 28, 31, 0.1);
}
.chats__add-button {
  box-shadow: 0px 0px 15px 0px rgba(28, 28, 31, 0.1);
}
.form {
  background: #d5d5e0 !important;
}
.theme__title::after {
  content: "Светлая тема";
}
