@import "./reset.css";
/* Dark color scheme */
:root {
  --dark-bg__main: #262427;
  --dark-bg__secondary: #303037;
  --dark-bg__light: #42424b;
  --dark-bg__light-second: #42424b;
  --dark-bg__light-third: #5b5b69;
  --dark-bg__light-fourth: #868696;
  --dark-text: #ffffff;
  font-size: 24px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-bg__light-second) var(--dark-bg__main);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
*::-webkit-scrollbar-track {
  background: var(--dark-bg__main);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--dark-bg__light-second);
  border-radius: 5px;
  border: 3px solid ovar(--dark-bg__main) range;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
}

body {
  color: var(--dark-text);
  background-color: var(--dark-bg__main);
  padding: 1.25%;
  fill: white;
  font-family: "Inter";
}

/* ==Typography== */

.heading-one {
  font-size: 1.6rem;
}

.regular {
  font-weight: 300;
}

.light {
  font-weight: 200;
}

.medium {
  font-weight: 400;
}

.icon {
  fill: inherit;
  width: 1em;
  height: 1em;
}

.icon--big {
  width: 1.6em;
  height: 1.6em;
}

.icon--small {
  width: 0.7em;
  height: 0.7em;
}

.chats__title,
.chats__link,
.chats__list,
.chats__nav,
.chats__typo,
.chats {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main,
.header,
.header__actions,
.header__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ==END== */
.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: stretch;
  border-radius: 1.3rem;
  overflow: hidden;
}

.header {
  background-color: var(--dark-bg__light-third);
  box-shadow: 0px 0px 15px 0px rgba(28, 28, 31, 0.3);
  padding: 0.6em;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.header__actions {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
}

.header__actions:hover > .header__text {
  text-decoration: underline;
}

.header__text {
  font-size: inherit;
  font-weight: inherit;
}

.header--center {
  justify-content: center;
}

.header--border {
  border-right: 0.1rem solid var(--dark-bg__secondary);
}

/* Sidebar */
.chats {
  background-color: var(--dark-bg__secondary);
  position: relative;
}

.chat__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chats__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 1.3rem;
}

.chats__typo {
  display: flex;
  flex-direction: row;
  gap: 0.6em;
}

.chats__link {
  cursor: pointer;
  padding: 0.6em;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chats__link--active {
  font-weight: 400;
  background: var(--dark-bg__light-second);
}

.chats__icon,
.chats__close {
  display: flex;
  align-items: center;
}

.chats__title {
  width: inherit;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.chats__add-button {
  display: flex;
  align-items: center;
  background-color: var(--dark-bg__light-third);
  border-radius: 1.3em;
  gap: 0.6em;
}

.theme {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  height: unset;
  justify-content: stretch;
  align-items: stretch;
  background: var(--dark-bg__light-third);
}

.theme__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--dark-bg__light-fourth);
}

.theme__title {
  flex-grow: 1;
  font-size: 2vw;
  padding: 0.6em;
  text-align: center;
  white-space: wrap;
}

/* GPT-4 Chat */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-bg__light-second);
}

.main__chat {
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  gap: 0.6em;
}

.form {
  background: var(--dark-bg__secondary);
  padding: 0.6em 0 0.6em 0.6em;
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  border-radius: 0 0 0.6rem 0.6rem;
  overflow: hidden;
  gap: 2em;
}

.form__textaria {
  background: none;
  flex-grow: 1;
  resize: none;
}

.form__button {
  border-left: 0.1em solid var(--dark-bg__light-second);
  height: 100%;
  fill: var(--dark-bg__light-second);
}

/* Adaptive mobile */

@media screen and (max-width: 768px) {
  :root {
    font-size: 4vmin;
  }
  .chats {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    width: 70%;
  }
  .chats__add-button .chats__title {
    display: none;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
  .form {
    grid-template-columns: 6fr 2fr;
  }
}
